@model FirstChallenge.Models.ComicBook
@{
    ViewBag.Title = "Default";
}

<h2>Details About @Model.ComicTitle #@Model.EpisodeNumber</h2>
<h3>Episode Title: @Model.EpisodeTitle</h3>
<p>Starring: @String.Join(", ", Model.Characters.Select(p => p.Name).ToArray())</p>
<hr />
<p>@Html.ActionLink("Return to Home", "Index")</p>

